dist
.wrangler
.output
*.tsbuildinfo

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

.dev.vars*
!.dev.vars.example
!.env.example
