/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/montserrat-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v18-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

html, body {
    background-color: #191414;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 2.5px;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}

a:hover {
    border-bottom: 1px solid #1DB954;
}

.page {
    display: none;
}

.svg {
    object-fit: scale-down;
    filter: invert(1);
}

/* Login Page */

.login-container {
    width: 600px;
    max-width: 100vw;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #1DB954;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    word-wrap: normal;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    word-wrap: normal;
}

#loginbtn {
    color: #191414;
    background-color: #1DB954;
    text-align: center;
    display: block;
    margin: 15px auto;
    border: 0;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

#loginbtn:hover {
    background-color: rgb(15, 105, 47);
}

/* Nav */

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    display: inline;
    margin: 0 10px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
}

/* Profile Page */

#profile-icon-link:hover {
    border-bottom: 0;
}

#profile-icon {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}

#profile-username {
    text-align: center;
    font-weight: 400;
}

.profile-followers {
    text-align: center;
    font-weight: 400;
}

/* Item */

.item {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    opacity: 0;
}

.item:hover {
    background-color: rgb(105, 105, 105, 0.2);
}

.item .default-icon, .item img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.item h3, .item h4 {
    font-size: 15px;
    margin: 10px 0px;
    margin-left: 10px;
    font-weight: 400;
}

.item h4 {
    color: grey;
}

.item .icon {
    height: 20px;
    width: auto;
    margin: 0;
    object-fit: inherit;
    vertical-align: middle;
    margin-right: 7px;
}

@keyframes itemFadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Favourites Page */

.item-criteria {
    margin: 0 0 12px 0;
    border-bottom: 1px solid #1DB954;
}

.item-criteria h1 {
    display: block;
    margin: 0;
    padding: 0 0 10px 20px;
}

.item-criteria div {
    display: inline-block;
    padding: 0 0 7px 0;
}

.item-criteria .separator {
    display: none;
    padding: 0 20px;
}

.item-criteria a {
    padding: 0 10px;
}

.item-criteria a.active {
    color: #1DB954;
}

.item-criteria a:hover {
    color: #969696;
    border-bottom: none;
}

#favourite-artists {
    display: none;
}

/* Export Page */

#export-progress {
    height: 10px;
    width: 40%;
    margin: 0 auto;
    border-radius: 0;
    display: none;
}

/* Error Page */

.error-link {
    color: #1DB954;
}

/* Responsive Design */

@media only screen and (min-width: 768px) {
    html, body {
        padding: 15px;
    }

    .item .default-icon, .item img {
        width: 140px;
        height: 140px;
    }

    .item h3, .item h4 {
        font-size: 19px;
        margin-left: 40px;
    }

    .item-criteria h1 {
        display: inline-block;
        padding: 0 0 10px 0;
    }

    .item-criteria .separator {
        display: inline-block;
    }
}